<div class="container">

  <div *ngIf="items.length === 0; else showItems ">
    There are no wishes to display
  </div>


  <ng-template #showItems>
    <ul *ngIf="items.length > 0" class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div>
          <div class="form-check-label">
            <input
            class="checkbox"
            type="checkbox"
            [checked]="item.isComplate"
            [attr.data-idnex]="ii"
            >
              {{ item.wishText }}
          </div>
      </div>
      </li>
    </ul>
  </ng-template>


</div>
